@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --textColor: #37253e;
  --backGround: #eae4ed;
  /* backGround 후보 : edeaee */
  /* font-family: 'GmarketSansMedium';
  font-size: 18px; */
}

:root[class='dark'] {
  --textColor: white;
  /* text 후보 : #eae4ed */
  --backGround: #231a26;
  /* backGround 후보 : 231a26, 262029, 37253e, 2b1f30 */
}
[data-theme='dark'] {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
