@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --backGround: #eae4ed;
  /* backGround 후보 : edeaee */
  --secondColor: #efebf1;
  /* font-family: 'GmarketSansMedium'; */
  --textColor: #37253e;
  --borderColor: #37253e;
  font-size: 18px;
}

:root[class='dark'] {
  --backGround: #262029;
  /* backGround 후보 : 29222f, 262029 */
  --secondColor: #392f40;
  /* secondColor 후보 : 3d3245, 392f40  */
  --textColor: white;
  /* textColor 후보 : #eae4ed, */
  --borderColor: white;
}
[data-theme='dark'] {
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
