@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-style: normal;
}

:root {
  font-family: 'SUITE-Regular';
  font-weight: 400;
  --backGround: #e3dfe5;
  /* backGround 후보 : e3dfe5, edeaee, ede8f0, f3eef6 */
  --secondColor: #ecb653;
  /* secondColor 후보 : ecb653, a96cc8*/
  --textColor: #37253e;
  --highlightTextColor: #b387cf;
  /* highlightTextColor 후보 : b387cf, a087cf */
  --borderColor: #ecb653;
  /* borderColor 후보 : 392f40, 37253e, ecb653, a96cc8 */
  font-size: 18px;
}

:root[class='dark'] {
  --backGround: #262029;
  /* backGround 후보 : 29222f, 262029 */
  --secondColor: #42374a;
  /* secondColor 후보 : 392f40, 43384b, 42374a  */
  --textColor: white;
  /* textColor 후보 : #eae4ed, */
  --highlightTextColor: #b387cf;
  /* highlightTextColor 후보 : b387cf, ac87cf, a087cf */
  --borderColor: white;
}
[data-theme='dark'] {
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
